<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side header-->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/error.jpg" alt="error" class="img-fluid" title="weather-forcast project">
                        </figure>
                    
                    <!--right side header-->
                        <h3>Page Not Found , Please Click <span class="text_clr">Home Page</span> </h3>
                        {{!-- <p>Welcome to the weather app</p> --}}
                        {{!-- <h3>{{errorMsg}}</h3> --}}
                        <a href="/" > <button> Home Page</button></a>
                    </div>
                    
                    

                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>