<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side header-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/my.jpeg" alt="neha" class="img-fluid" title="weather-forcast project">
                        </figure>
                    </div>
                    <!--right side header-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app</p>
                        <h2 class="me">I am a  <span class="text_clr">Full Stack Web Developer , </span> Andriod developer and video editor</h2>
                        <a href="https://www.linkedin.com/in/neha-kumari-09a354206/" target=" "> <button>contact me</button></a>
                    </div>
                    
                    

                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>